:root {
  --primary-color: #295ba7;
  --secondary-color: #fcc314;
  --box-shadow: 0 5px 10px rgba(12, 10, 10, 0.3);
  ---default-font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.summary {
  margin: 50px;
}
h2,
h3,
h4,
h5,
p {
  font-family: var(---default-font-family);
  color: black;
}

.btn {
  background-color: #fcc314;
  box-shadow: var(--box-shadow);
  font-family: var(---default-font-family);
  padding: 20px;
  margin: 50px;
}
.btn:hover {
  background-color: white;
}
.img-fluid {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  box-shadow: var(--box-shadow);
}
.icon {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.icon:hover {
  color: var(--primary-color);
}
.heading h1 {
  margin-top: 100px;
}
.about-me {
  margin-top: 50px;
  box-shadow: var(--box-shadow);
}
.about-me h1 {
  font-family: var(---default-font-family);
  color: var(--primary-color);
}
.skills h2 {
  text-align: center;
  margin-bottom: 30px;
}
.skills-icons {
  text-align: center;
  margin: 30px auto;
  background-color: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 100px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: var(--box-shadow);
}
.icon {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: #eeeeee;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
}
